.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* desktop */
@media (min-width: 600px) {
  .homepage h1 {
    color: brown;
    font-size: 5.5rem;
    padding: 100px 30px 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 140px;
    opacity: .9;
  }

  .homepage h2 {
    font-size: 3rem;
    margin: 20px 30px 25px;
    color: white;
    padding: 30px;
    opacity: .8;
    font-weight: 500;
  }

  .homepage h3 {
    margin-top: 20px;
    padding: 20px 25px;
    font-size: 1.5rem;
    opacity: .8;
    font-weight: 500;
  }
}

/* mobile */
@media (max-width: 600px) {
  .homepage h1 {
    color: brown;
    font-size: 4.5rem;
    padding: 60px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    font-weight: 600;
  }
  
  .homepage h2 {
    font-size: 1.5rem;
    color: white;
    padding: 30px;
    opacity: .8;
    font-weight: 500;
    margin: 0;
  }

  .homepage h3 {
    padding: 30px 45px;
    font-size: 1.1rem;
    opacity: .8;
    font-weight: 500;
    margin: 0;
  }
}

.homepage span {
  transition: all 0.5s ease-in-out 0s;
  color: white;
}

.homepage span:hover {
  color: black;
  transition: all 0.5s ease 0s;
}

.homepage h2:hover {
  transition: all 0.5s ease 0s;
  opacity: 1;
}


.homepage a {
  font-family: inherit;
  font-size: inherit;
  color: brown;
  text-decoration: none;
  opacity: .8;
  transition: all 0.5s ease 0s;
}

.homepage a:hover {
  opacity: 1;
  color: white;
}





