
/* desktop */
@media (min-width: 600px) {
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* padding: 50px 0; */
  }

  .home-content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .homepage h1 {
    color: brown;
    font-size: 6rem;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
  }

  .homepage h2 {
    font-size: 3.5rem;
    color: white;
    padding: 0 50px;
    opacity: .8;
    font-weight: 500;
    max-width: 1000px;
  }

  .homepage h3 {
    padding: 0 75px;
    font-size:2rem;
    opacity: .8;
    font-weight: 500;
  }
}

/* mobile */
@media (max-width: 600px) {
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* padding: 50px 0; */
  }

  .home-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .homepage h1 {
    color: brown;
    font-size: 4.5rem;
    padding: 0 40px;
    font-family: 'Montserrat', sans-serif;
    opacity: .9;
    font-weight: 600;
  }
  
  .homepage h2 {
    font-size: 1.6rem;
    color: white;
    padding: 0 40px;
    opacity: .8;
    font-weight: 500;
    margin: 0;
  }

  .homepage h3 {
    padding: 0 45px;
    font-size: 1.1rem;
    opacity: .8;
    font-weight: 500;
    margin: 0;
  }
}

.homepage span {
  transition: all 0.5s ease-in-out 0s;
  color: white;
}

.homepage span:hover {
  color: black;
  transition: all 0.5s ease 0s;
}

.homepage h2:hover {
  transition: all 0.5s ease 0s;
  opacity: 1;
}


.homepage a {
  font-family: inherit;
  font-size: inherit;
  color: brown;
  text-decoration: none;
  opacity: .8;
  transition: all 0.5s ease 0s;
}

.homepage a:hover {
  opacity: 1;
  color: white;
}





