.project-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  /* padding: 50px 0; */
  width: 100vh;
  /* height: 100vh; */
}

/* desktop */
@media (min-width: 600px) {
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  video, img {
    animation: wipe-enter 1s 1;
  }
}

.project-card {
    /* margin: 100px; */
    padding: 5px;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 90vw;
    max-width: 1100px;
  }

  .project-card h3 {
    font-weight: 400;
    font-size: 1rem;
    padding: 20px 10px 10px;
    margin: 0;
    opacity: .6;
  }
  
  .project-card p {
    font-size: 1rem;
    text-align: left;
    padding: 10px 10px;
    margin: 0;
    opacity: .8;
  }
  
  .project-card h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    padding: 5px 10px 10px;
    opacity: .9;
  }

  .project-links {
    margin: 10px 10px;
    padding: 5px 0 2px;
    border-bottom: 1px solid brown;
    text-decoration: none;
    opacity: .5;
    transition: all 0.5s ease-in-out 0s;
    font-size: 1.3rem;
    color: white;
  }

  .content {
    margin: 20px;
    width: 450px;
  }

  .media {
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-around;
  }

  video, img {
    opacity: .7;
    width: 350px;
  }

  .video-mask {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    overflow: hidden;
  }



  .arrow {
    width: 35px;
    filter: invert(100%);
    border: none;
  }

  .arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin: 20px;
  }
}

/* mobile */
@media (max-width: 600px) {

  .arrows {
    display: none;
  }

  .project-card {
    margin: 10px 10px;
    padding: 5px;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
  }

  .project-card h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 0 10px;
    opacity: .9;
  }

  .project-links {
    margin: 7px 10px 7px 0;
    padding: 5px 0 2px;
    border-bottom: 1px solid brown;
    text-decoration: none;
    opacity: .5;
    transition: all 0.5s ease-in-out 0s;
    font-size: .95rem;
    color: white;
  }

  .project-card h3 {
    font-weight: 400;
    font-size: .7rem;
    padding: 10px 0;
    margin: 0;
    opacity: .6;
  }

  .project-card p {
    font-size: .75rem;
    text-align: left;
    /* padding: 10px 0; */
    margin: 0;
    opacity: .8;
  }

  .content {
    margin: 20px;
    width: 320px;
  }

  .media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  video, img {
    opacity: .7;
    width: 320px;
  }

  .video-mask {
    border-radius: 10px;
    width: 320px;
    height: 320px;
    overflow: hidden;
  }

  /* .arrow {
    width: 30px;
    filter: invert(100%);
    border: none;
  }

  .arrows {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
  } */
}



.project-page img {
  border-radius: 10px;
}


.printstagram-vid {
  filter: invert(100%);
}



.boobot-vid {
  opacity: .85;
}

.project-links:hover {
  opacity: 1;
}




