@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio&family=Archivo&family=Arvo:wght@400;700&family=Bangers&family=BioRhyme&family=Bungee+Inline&family=Chicle&family=Comfortaa:wght@300&family=Creepster&family=Encode+Sans+Semi+Expanded&family=Epilogue&family=Grand+Hotel&family=Great+Vibes&family=Griffy&family=Heebo:wght@900&family=IM+Fell+French+Canon&family=IM+Fell+French+Canon+SC&family=Inconsolata:wght@200&family=Inter&family=Irish+Grover&family=Josefin+Sans&family=Karla&family=Lato&family=Limelight&family=Manrope&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Neonderthaw&family=Nixie+One&family=Oswald&family=Philosopher:wght@400;700&family=Poiret+One&family=Poppins&family=Press+Start+2P&family=Raleway:wght@100&family=Roboto+Mono:wght@100&family=Rubik+Wet+Paint&family=Rye&family=Silkscreen&family=Slabo+27px&family=Sora:wght@400;700&family=Space+Grotesk&family=Space+Mono&family=Spectral&family=Syne&family=Tenor+Sans&family=Ultra&family=Unica+One&family=VT323&family=Varela+Round&family=Yeseva+One&display=swap');

body::-webkit-scrollbar {
  display: none;
}

html, body {
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url('./capelookout.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 100vh;
}


/* navigation header */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3em;
  /* position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%); */
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  max-width: 1000px;
  padding: 0;
}

nav img {
  width: 25px;
  filter: invert(100%);
}

#project-icon {
  width: 20px;
}

@media (min-width: 600px) {
  .nav-icon {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-text {
    display: none;
  }
}

.active {
  color: brown;
}

.active img {
  opacity: .1;
}

nav a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  font-size: .9rem;
  opacity: 1;
}

nav a:hover {
  opacity: .4;
}

/* footer */

/* footer {
  width: 100%;
  position: fixed;
  bottom: 15px;
  left: 0;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

footer a {
  text-decoration: none;
  margin: 0 15px 20px 15px;
  padding: 5px 0;
  font-weight: 500;
  color: white;
  opacity: .6;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 15px;
  transition: all 0.5s ease-in-out 0s;
  border-bottom: .5px solid brown;
}

footer a:hover {
  opacity: 1;
  color: brown;
} */