@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio&family=Archivo&family=Arvo:wght@400;700&family=Bangers&family=BioRhyme&family=Bungee+Inline&family=Chicle&family=Comfortaa:wght@300&family=Creepster&family=Encode+Sans+Semi+Expanded&family=Epilogue&family=Grand+Hotel&family=Great+Vibes&family=Griffy&family=Heebo:wght@900&family=IM+Fell+French+Canon&family=IM+Fell+French+Canon+SC&family=Inconsolata:wght@200&family=Inter&family=Irish+Grover&family=Josefin+Sans&family=Karla&family=Lato&family=Limelight&family=Manrope&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@400;700&family=Neonderthaw&family=Nixie+One&family=Oswald&family=Philosopher:wght@400;700&family=Poiret+One&family=Poppins&family=Press+Start+2P&family=Raleway:wght@100&family=Roboto+Mono:wght@100&family=Rye&family=Slabo+27px&family=Sora:wght@400;700&family=Space+Grotesk&family=Space+Mono&family=Spectral&family=Syne&family=Tenor+Sans&family=Ultra&family=Unica+One&family=VT323&family=Varela+Round&family=Yeseva+One&display=swap');




html, body {
  text-align: center;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}




/* ---------- NAVIGATION ---------- */




nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

ul {
  list-style-type: none;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
}

nav img {
  width: 35px;
}

nav a {
  color: black;
  font-size: .9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: .4;
  text-decoration: none;
  margin: 35px 20px 0;
  transition: all 0.5s ease 0s;
}

nav a:hover {
  opacity: 1;
}





/* ---------- HOME PAGE ---------- */




.homepage span {
  color: brown;
  transition: all 0.5s ease-in-out 0s;
}

.homepage span:hover {
  color: black;
}

.homepage {
  padding-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 100px;
}

.homepage h1 {
    font-size: 9rem;
    margin: 50px 30px 10px;
    font-family: 'Heebo', sans-serif;
    line-height: 140px;
    /* padding-top: 300px; */
    /* animation-duration: 2s;
    animation-name: slidein; */
}

.homepage h2 {
  font-size: 2rem;
  margin: 50px 50px 25px;
  background-color: black;
  color: white;
  width: 100%;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* animation-duration: 2s;
  animation-name: slidein; */
}

.homepage h2:hover {
  background-color: brown;
  transition: all 0.5s ease 0s;
  color: rgba(255, 255, 255, 0.851);
}

.homepage h3 {
  margin-top: 20px;
  padding: 20px 25px 100px;
  font-size: 1.5rem;
  /* animation-duration: 5s;
  animation-name: slidein; */
}

.homepage p {
  font-size: 1.1rem;
  color: white;
  padding: 30px 25px;
  text-align: center;
  max-width: 500px;
  min-width: 250px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homepage a {
  font-family: inherit;
  font-size: inherit;
  color: black;
  text-decoration: none;
  opacity: .5;
  transition: all 0.5s ease 0s;
}

.homepage a:hover {
  opacity: 1;
}

/* @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */




/* --------- FOOTER --------- */




footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

footer a {
  text-decoration: none;
  margin: 0 15px 0 15px;
  font-weight: 600;
  color: black;
  opacity: .5;
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 15px;
  transition: all 0.5s ease-in-out 0s;
}

footer a:hover {
  opacity: 1;
}

/* .line {
  height: 2px;
  background-color: gray;
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
} */




/* ---------- ABOUT PAGE ---------- */




.about-page {
  display: flex;
  margin: 100px 25px 150px;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 200px;
}

.about-text {
  min-width: 250px;
  max-width: 420px;
  margin: 5px 10px;
  text-align: left;
  padding: 20px;
}

.about-text h1 {
  font-size: 3.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Heebo';
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.about-text span {
  color: brown;
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin: 0 0 5px 10px;
}

.about-text p {
  font-size: 1.5rem;
  line-height: 30px;
  padding: 0px;
  color: black;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 0;
  max-width: 500px;
  min-width: 250px;
  font-weight: bold;
}

.about-page img {
  min-width: 200px;
  max-width: 420px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  filter: brightness(50%);
}

.about-page img:hover {
  filter: none;
  transition: all 0.5s linear 0s;
}




/* --------- PROJECT PAGE ---------- */



.project-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
  padding-bottom: 200px;
}

.project-card h1 {
  padding: 5px 5px 10px;
}

.project-card a {
  margin: 5px 10px;
  padding: 5px 0 2px;
  border-bottom: 1px solid gray;
  text-decoration: none;
  color: black;
  opacity: .5;
  transition: all 0.5s ease-in-out 0s;
  font-size: 1.1rem;
}

.project-card a:hover {
  opacity: 1;
}

.project-card {
  margin: 20px;
  padding: 20px;
  width: 350px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 30px;
}

.project-card h2 {
  color: gray;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px 0;
}

#snake-div h1 {
  font-family: 'Press Start 2P';
  color: chartreuse;
  text-shadow: 4px 4px 1px rgb(0, 0, 0), 6px 6px 1px rgb(3, 134, 40), 7px 7px 1px rgb(60, 245, 32), 8px 8px 3px black, 5px 5px 15px rgb(217, 255, 0), 1px 1px 15px rgb(0, 106, 0);

}

#printstagram-div h1 {
  font-family: 'Grand Hotel';
  font-size: 2.2rem;
  font-weight: 500;
  /* margin-top: 70px; */
}

#handofresources-div h1 {
  font-family: 'Syne';
  color: rgb(104, 27, 48);
}




/* ---------- CONNECT PAGE ---------- */




.connect-page {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  height: 100vh;
}

.connect-page h1 {
  font-size: 2rem;
  margin-top: 50px;
  font-family: 'Karla';
}

.connect-page-paragraph-wrapper {
  width: 100vw;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.connect-page p {
  min-width: 220px;
  max-width: 420px;
  text-align: center;
  margin: 0px;
  padding: 60px 0;
  font-size: 1.3rem;
  line-height: 27px;
  font-weight: bold;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link-wrapper h2 {
  font-size: 1.5rem;
  margin: 20px 10px 0px;
  width: 270px;
}

.link-wrapper a {
  color: black;
  opacity: .5;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.link-wrapper p {
  color: black;
  padding: 0;
  font-size: .7rem;
}

.link-wrapper a:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;


}



